Repository sims1253/kataphraktus, changes with the labels that .github/labeler.yml gives for each.
All labels: models, database, api, tests, docker, documentation, dependencies

.github/labeler.yml:

# Label PRs based on changed files

models:
  - src/cataphract/models/**/*

database:
  - src/cataphract/database.py
  - src/cataphract/config.py
  - alembic/**/*

api:
  - src/cataphract/main.py
  - src/cataphract/api/**/*

tests:
  - tests/**/*

docker:
  - docker/**/*
  - Dockerfile

documentation:
  - '*.md'
  - docs/**/*

dependencies:
  - pyproject.toml
  - uv.lock

Update CI and fix linting issues
  .github/workflows/ci.yml
  .github/workflows/pr-labeler.yml
  README.md
  docker/Dockerfile
  src/cataphract/database.py
  src/cataphract/models/army.py
  tests/integration/test_database.py
  tests/unit/test_models.py
Labels: models, database, tests, docker, documentation

Fix test
  tests/unit/test_models.py
Labels: tests

Fix CI test setup
  tests/conftest.py
Labels: tests

KISS
  src/cataphract/factory.py
  src/cataphract/interfaces/__init__.py
  src/cataphract/interfaces/battle.py
  src/cataphract/interfaces/morale.py
  src/cataphract/interfaces/movement.py
  src/cataphract/interfaces/siege.py
  src/cataphract/interfaces/supply.py
  src/cataphract/interfaces/visibility.py
  src/cataphract/services/__init__.py
  src/cataphract/services/harrying_service.py
  src/cataphract/services/siege_service.py
  src/cataphract/services/supply_service.py
  src/cataphract/services/tick_service.py
  src/cataphract/services/visibility_service.py
Labels: none

Add API app factory with configurable CORS
  main.py
  src/cataphract/api/app.py
  src/cataphract/config.py
Labels: database, api

Remove leftover migration and coverage artifacts
  alembic.ini
  coverage.json
Labels: none

Add React frontend for campaign management
  frontend/.env.example
  frontend/.gitignore
  frontend/README.md
  frontend/bun.lock
  frontend/index.html
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/orderDefinitions.ts
  frontend/src/api/types.ts
  frontend/src/components/AppLayout.module.css
  frontend/src/components/AppLayout.tsx
  frontend/src/components/ArmyList.module.css
  frontend/src/components/ArmyList.tsx
  frontend/src/components/OrderBuilder.module.css
  frontend/src/components/OrderBuilder.tsx
  frontend/src/components/OrderList.module.css
  frontend/src/components/OrderList.tsx
  frontend/src/components/TickControls.module.css
  frontend/src/components/TickControls.tsx
  frontend/src/hooks/useServerHealth.ts
  frontend/src/main.tsx
  frontend/src/pages/CampaignDetailPage.module.css
  frontend/src/pages/CampaignDetailPage.tsx
  frontend/src/pages/CampaignListPage.module.css
  frontend/src/pages/CampaignListPage.tsx
  frontend/src/styles/global.css
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: none

Add savegame support and Testudis scenario
  docs/domain_architecture.md
  docs/savegame_format.md
  scenarios/testudis.cataphract
  src/cataphract/api/routes.py
  src/cataphract/api/runtime.py
  src/cataphract/config.py
  src/cataphract/savegame/__init__.py
  tests/unit/test_api_runtime.py
  tests/unit/test_savegame.py
Labels: database, api, tests, documentation

Update frontend deps and cleanup
  .github/dependabot.yml
  frontend/bun.lock
  frontend/package.json
  src/cataphract/api/routes.py
  src/cataphract/api/runtime.py
  src/cataphract/savegame/__init__.py
  tests/unit/test_savegame.py
Labels: api, tests
